@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/static/font/Pretendard/PretendardR.woff') format('woff'),
    url('/static/font/Pretendard/PretendardR.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/static/font/Pretendard/PretendardB.woff') format('woff'),
    url('/static/font/Pretendard/PretendardB.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: url('/static/font/Pretendard/PretendardEB.woff') format('woff'),
    url('/static/font/Pretendard/PretendardEB.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('/static/font/Pretendard/PretendardL.woff') format('woff'),
    url('/static/font/Pretendard/PretendardL.ttf') format('truetype');
}
